<h1 class="text-center">Edit Job Post</h1>
 

<%
	if(locals.jobToEdit!==undefined){
	//console.dir(locals.jobToEdit);

	var status='';
	if(locals.jobToEdit.status==='Active'){
	   status='checked';
	}
	if(locals.jobToEdit.status==='Disabled'){
	   status='';
	}

		%>
			<form action="/updateJobPost" method="post">
			    <input type="hidden" name="id" value="<%=locals.jobToEdit.jobGUID%>">
				<%if(locals!==undefined){
					console.dir(locals);
				  	if(locals.categories!==undefined){
				  		console.log('!!!!!');
				  		%>
				  		<div class="form-group">
				  		<label for="category">Category</label>
				  		<select class="form-control" id="category" name="category" required="required">
				  		<%
				  		
				  		for(i=0;i<locals.categories.length;i++){
				  			if(locals.categories[i].categoryVarName===locals.jobToEdit.jobCategory){
				  			%>
				  				<option selected value="<%=locals.categories[i].categoryVarName%>"><%=locals.categories[i].categoryVarName%></option>
				  			<%
				  			}else{
				  			%>
				  				<option value="<%=locals.categories[i].categoryVarName%>"><%=locals.categories[i].categoryVarName%></option>
				  			<%
				  			}
				  		}
				  		%>
				  		</select>
				  		</div>
				  		<%
				  	}
				  }else{
				  	console.log('locals  is undefined');
				  }%>

				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" name="title" id="title" placeholder="Job Title" value="<%=locals.jobToEdit.jobTitle%>" class="form-control"  required="required">
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea rows="5" name="description" id="description" placeholder="Job Description" class="form-control"  required="required"><%=locals.jobToEdit.jobDescription%></textarea>
				</div>
				<div class="form-group">
					<label for="deadline">DeadLine</label>
					<input type="date" name="deadline" id="deadline" placeholder="Deadline" value="<%=locals.jobToEdit.deadLine%>" class="form-control" >
				</div>
				

				<!-- <div class="well">
				  <div id="datetimepicker1" class="input-append date">
				    <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				  </div>
				</div> -->
				
				<div class="form-group">
					<label for="budget">Budget</label>
					<input type="text" name="budget" id="budget" placeholder="Budget" value="<%=locals.jobToEdit.budget%>" class="form-control" >
				</div>
				<div class="form-group">
					<label for="paymentType">Payment Type</label>
					<input type="text" name="paymentType" id="paymentType" placeholder="Payment Type" value="<%=locals.jobToEdit.paymentType%>" class="form-control" >
				</div>
				<div class="form-group">
					<label for="projectType">Project Type</label>
					<input type="text" name="projectType" id="projectType" placeholder="Project Type" value="<%=locals.jobToEdit.projectType%>" class="form-control" >
				</div>
				<div class="form-group">
					<label for="enabledisable">Enable/Disable Post</label>
					<input type="checkbox" checked data-toggle="toggle" name="status" id="enabledisable" <%=status%>   class="form-control" >
				</div>
				<button type="submit" class="btn btn-default">Save</button>
			</form>

			<form action="deleteJobPost" method="post">
			 	<input type="hidden" name="id" value="<%=locals.jobToEdit.jobGUID%>">
			 	<button type="submit" class="btn btn-default">Delete Post</button>
			</form>

		<%
	}
%>

<script>
   	function enableDisable(val){
   		alert('enable/disable');
   	}
</script>
